.header-design {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f334d0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    cursor: pointer;
  }
  
  .logo-design {
    height: 50px;
    width: auto;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links div {
    cursor: pointer;
  }
  
  .logout {
    cursor: pointer;
  }
  
  .logout:hover {
    text-decoration: underline;
  }
  