.register-design {
    max-width: 400px;

    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .basic-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .error-input {
    border-color: red;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .register-button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }

  .register-body{
    margin-top: 5vh;
    width: 100vw;
    min-height: 85vh;
  }